body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.discription-title {
  font-size: 300;
}

.navbar {
  background-color: grey;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  border: pink solid 3px;
}

#home-title {
  width: 700px;
  margin: auto;
  background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.com%2Ffree-photos-vectors%2Fwatercolor-background&psig=AOvVaw00UUDVzzysCXwc0uDYFVCu&ust=1666909075742000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCKi4_6v2_voCFQAAAAAdAAAAABAE);
}

@media only screen and (max-width: 600px) {
  .navbar {
    background-color: red;
  }
}